<div class="sidebar bg-dark text-white">

    <div class="text-center py-4 border-bottom">

        <h3 class="fw-bold">

            🚆 RailMaint

        </h3>

        <small>

            Maintenance System

        </small>

    </div>

    <div class="mt-4">

        <ul class="nav flex-column">

            <li class="nav-item">

                <a href="/"
                   class="nav-link text-white">

                    <i class="bi bi-speedometer2 me-2"></i>

                    Dashboard

                </a>

            </li>

            <li class="nav-item">

                <a href="/employees/"
                   class="nav-link text-white">

                    <i class="bi bi-people-fill me-2"></i>

                    Employees

                </a>

            </li>

            <li class="nav-item">

                <a href="/assets/"
                   class="nav-link text-white">

                    <i class="bi bi-train-front-fill me-2"></i>

                    Assets

                </a>

            </li>

            <li class="nav-item">

                <a href="/workorders/"
                   class="nav-link text-white">

                    <i class="bi bi-tools me-2"></i>

                    Work Orders

                </a>

            </li>

            <li class="nav-item">

                <a href="#"
                   class="nav-link text-white">

                    <i class="bi bi-journal-text me-2"></i>

                    Maintenance Logs

                </a>

            </li>

            <li class="nav-item">

                <a href="#"
                   class="nav-link text-white">

                    <i class="bi bi-clipboard-check me-2"></i>

                    Inspections

                </a>

            </li>

            <li class="nav-item">

                <a href="#"
                   class="nav-link text-white">

                    <i class="bi bi-bar-chart-line me-2"></i>

                    Reports

                </a>

            </li>

        </ul>

    </div>

</div>